<input type="file" (change)="onFileSelected($event)" accept="image/*">

<mat-card *ngIf="previewUrl">
  <img [src]="previewUrl" alt="Vista previa de la imagen">
</mat-card>

<button mat-raised-button color="primary" (click)="onUploadImage()">Upload Image</button>
<button mat-raised-button color="primary" (click)="onDownloadImagesMultiple()">Download Multiple</button>

<!--<button mat-raised-button color="primary" (click)="onDownloadImage()">Download Image</button>-->

<div *ngIf="previewDownloadMultiple">
  <ng-container *ngFor="let image of previewDownloadMultiple">
    <img [src]="image" alt="no image">
  </ng-container>
</div>
