.header-container {
  height: 80px;
  overflow: hidden;
}

.logo-container {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-left: 8px;
  }
}

.header-separator {
  margin: 0;
  border: 0;
  height: 2px;
}

.buttons-container {
  height: 100%;
  width: auto;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.route-button-base {
  width: 160px;
  height: 60%;
  margin: 4px;
  border-radius: 6px;
  font-size: 18px;
}

.route-button-inactive {
  transition: background-color 0.3s ease;
}

.route-button-active {
  color: white;
}

.route-button-inactive:hover {
  cursor: pointer;
}
