.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  height: 150px;
  width: 100%;
}

.number {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;

  .number-events {
    font-size: 22px;
    margin: 0 0 0 0;
    color: rgba(0, 0, 0, 0.8);
  }
}

.triangle {
  width: 0;
  height: 0;
  border-top: 100px solid transparent; /* Ancho de la base del triángulo */
  border-bottom: 100px solid transparent; /* Ancho de la base del triángulo */
  border-left: 100px solid deeppink; /* Altura del triángulo y color de fondo */
  border-radius: 20px;
  //border-bottom-left-radius: 50px; /* Redondea la esquina del ángulo obtuso */
  //border-bottom-right-radius: 50px; /* Redondea la esquina del ángulo obtuso */
}

.item-list {
  max-height: 100px;
  overflow-y: hidden;
  padding-left: 10px;
}
