/* You can add global styles to this file, and also import other style files */

@use '@ng-matero/extensions' as mtx;
@use '@angular/material' as mat;

@use './theming' as theming;
@use './palettes' as palettes;

$myThemeLight: mat.define-light-theme((
  color: (
    primary: mat.define-palette(palettes.$polkadot-pink),
    accent: mat.define-palette(palettes.$grey),
    warn: mat.define-palette(mat.$red-palette)
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($myThemeLight);
@include mtx.all-component-themes($myThemeLight);

@include theming.applyTheme($myThemeLight);

html, body {
  height: 100%;
}

header, body {
  margin: 0;
  border: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
  background-color: #fafafa;
}
