<section class="container">
  <article class="column">
    <div class="column-content">
      <div class="month-selector">
        <button mat-raised-button color="primary" (click)="previousMonth()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="month">
          <h2>{{currentMonth}}</h2>
        </div>
        <button mat-raised-button color="primary" (click)="nextMonth()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div *ngFor="let event of events" class="event-list">
        <mat-card class="event-card">
          <app-event-view
            [event]="event"
            (eventClicked)="eventSelected($event)"
            (deleteEvent)="deleteEvent($event)">
          </app-event-view>
        </mat-card>
      </div>
    </div>
  </article>
  <article class="column">
    <div class="column-content">
      <app-event-form #eventFormComponent [fullForm]="true" (submitEvent)="updateEvent($event)"></app-event-form>
    </div>
  </article>
</section>
<section>
  <app-overlay-loading [isLoading]="overlayWait"></app-overlay-loading>
</section>
